.card {
    height: 230px;   
    position: relative;
    margin: 5px 2px;
    box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;    transition: 0.3s;
    overflow: hidden;
    border-radius: 4px;   
    background-color:$color-5;
    cursor:pointer;
    
  
    &:hover {
      transform: scale(1.25);
      z-index: 2;
    }
  
    img {
      object-fit: contain;
      height: 230px;
      width:200px;
      
    }
    
    .data-container {
      position: absolute;
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;     
      
  
      &:hover {
        opacity: 1;
  
        ul {
          transform: scaleY(1);
        }
      }
      ul {
        color: $color-2;
        padding-top: 100px;
        display: grid;
        height: 100%;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        transform: scaleY(0.3);
        z-index: 20;
  
        &:after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: 0.6s;
        }
        &:hover::after {
          background: rgba(0, 0, 0, 0.65);
        }
      }
      li {
        font-size: 0.8rem;
        z-index: 30;
  
        &:nth-child(1) {
          font-weight: bold;
          color: $color-2;
        }
      }
    }

    .productNameCard{
      position:absolute;
      bottom:0;
      font-weight:bold;
      font-size:0.8rem;
      text-align: center;
      color:$color-2;
      background: rgba(0, 0, 0, 0.65);
      width:100%;
      

      &:hover{
      background:none;

      }
    }
  }