.hero--home{
    font-family:$font-1;
    position: relative;
    z-index: 2;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;   
    padding-bottom: 4.25rem;
    color: #fff;
    text-align: center;      
    width: 100%;
    background: url('../../img/bgHeroPage3.png');
    background-repeat: no-repeat;
    background-size: cover;
  

    @media screen and (min-width: 48em) {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 37.9375rem;
    }


    .hero__center{
    position: relative;
    z-index: 5;
    width: 100%;

        .hero__title h2{
            max-width: 51.875rem;
            padding: 0 1.25rem;
            margin: 3.75rem auto;
            line-height: 1.1;
            color: #fff;
        }
    }


}

.page-body{
    padding: 1.875rem 0;
    overflow-x: hidden;
}

.page-body--white{
    padding-top: 3.125rem;
    

  
}
  .HomeContainer{
    
    width:90%;
    margin: 0 auto;
    // @media screen and (max-width: 750px) {
        
    //    width:100%;
        
        
    // }
 

    .HomeCarousel{
        width:100%;
        margin-left:280px;
        @media screen and (max-width: 1600px) {
            margin-left:0;

        }
        @media screen and (max-width: 750px) {
            margin: 0 auto;
            
        }
       

        img{            
            width:330px;
            height:327px;
            object-fit:cover;
            border-radius:5px;
            cursor:pointer;

            
            @media screen and (max-width: 750px) {
                margin: 0 auto;
               width:100%;
                
                
            }
        
            
        }
    }
}