.pagination{
    display:flex;
    justify-content: center;
    font-family:$font-1;
    padding-top:2rem;   
    

  

 button{
     color: #202f0a !important;
     border-color: white!important;
 }

    .disabled{
        display:none;
    }  

    .page-item{
        background-color:red !important;
        color:red !important;
        border-color: white!important;
    }
    .active button{
     background-color:#202f0a!important;
     color:white!important;
     text-decoration:none!important;
     border-color: white!important;
    }
    .page-link{
        border-color: white!important;
    }


    button{       
        display:flex;
        justify-content: center;     
        border:none;
        font-family:$font-1;          
        cursor:pointer;      
        width:1.3rem;    
        padding-left: 1rem;
        padding-right:1rem;
        padding-top:0.4rem;
        padding-bottom:0.4rem;  
        transition: 0.3s;
        border-radius: 4px;
        font-size:1.3rem;
        font-weight:lighter;
 
      
        &:hover{
         background-color:$color-3;
         transition: 0.6s;
         border-radius: 4px;       
         color:$color-5;  
        
        }
    }
}