.produits {

  
    .sort-container {
      display:flex;
      width:100%;
      justify-content: center;
      padding: 8px;
      border-radius: 15px;
      background: $color-3;
      color: $color-5;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
      
      ul {
        display: flex;        
        width:100%;
        justify-content: space-around;
        input[type="radio"] {
          transform: translate(-5px, 1px);
        }    
      }
    }

    .searchProduct{
      width:180px;
      padding:5px;      
      display: block;
      margin-left: auto;
      margin-right: auto; 
      margin-bottom:10px;
      margin-top:10px;
    }

    .cancel {
      margin: 20px auto 30px;
      width: 100%;
      font-size: 1.2rem;
  
      h5 {
        border: 1px $color-3 solid;
        text-align: center;
        width: 180px;
        margin: 0 auto;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
  
        &:hover {
          background: $color-4;
          border-color: $color-5;
          color:$color-5;
        }
      }
    }
  
    .produits-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }


  }