@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

$font-1: "Poppins", sans-serif;

$color-1: #61dafb;
$color-2: #f7f7f7;
$color-3: #202f0a;
$color-4: rgb(32, 35, 42);
$color-5: white;
$color-6: #f5f7f0;
$color-7: #293f06;
$Poppins: "Poppins", sans-serif;

// colors
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: #99a793;
$bg: rgb(244, 244, 255);

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 100px;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 950px) {
            @content;
        }
    }
}
$small: 375px;
$medium: 900px;
$nav48 : 48rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  
  
  font-family: $font-1;
  color: $color-3;
  background-color: $color-5;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $color-3;
  cursor: pointer;
}
a:visited {
  color: $color-3;
}
